.approach {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 82%;
  color: #fff;
  background: #ff9c8e;
  padding: 204px 0 0 204px;
  border-radius: 170px 0 0 170px; }
  .approach__preview {
    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 3px;
    text-transform: uppercase; }
  .approach__heading {
    font-size: 32px;
    color: #fff;
    margin: 16px 0 32px;
    width: 362px; }
  .approach__step {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 64px; }
  .approach__step-margin {
    margin-bottom: 204px; }
  .approach__link {
    display: inline-block;
    margin-right: 34px;
    border-radius: 50%;
    -webkit-transition: -webkit-transform 0.5s, -webkit-box-shadow 0.3s;
    transition: -webkit-transform 0.5s, -webkit-box-shadow 0.3s;
    transition: transform 0.5s, box-shadow 0.3s;
    transition: transform 0.5s, box-shadow 0.3s, -webkit-transform 0.5s, -webkit-box-shadow 0.3s;
    outline: none; }
  .approach__link:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  .approach__link:focus {
    -webkit-box-shadow: 0 0 17px 5px rgba(255, 156, 142, 0.7);
            box-shadow: 0 0 17px 5px rgba(255, 156, 142, 0.7); }
  .approach__text {
    width: 263px;
    font-size: 15px;
    color: #fff; }
  .approach__picture-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .approach__picture {
    width: 680px;
    height: 687px;
    background-image: url("../images/Photo (1).jpg");
    background-size: cover;
    border-radius: 200px 0 0; }

@media (min-width: 1901px) and (max-width: 3500px) {
  .approach__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .approach {
    max-width: 1440px;
    border-radius: 170px; }
    .approach__preview {
      font-size: 19px; }
    .approach__heading {
      font-size: 40px;
      width: 450px;
      letter-spacing: 2px; }
    .approach__text {
      font-size: 20px;
      width: 350px;
      letter-spacing: 1px; }
    .approach__picture {
      border-radius: 170px 0; } }

@media screen and (max-width: 1400px) {
  .approach {
    width: 100%;
    padding: 70px 0 0 15%;
    border-radius: 0; }
    .approach__step-margin {
      margin-bottom: 70px; }
    .approach__picture {
      width: 45vmax;
      height: 45vmax;
      border-radius: 100px 0 0; } }

@media screen and (max-width: 1000px) {
  .approach {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 50px 0; }
    .approach__wrapper {
      width: 55%; }
    .approach__picture-wrapper {
      width: 55%; }
    .approach__picture {
      width: 360px;
      height: 300px;
      border-radius: 50px; } }

@media screen and (max-width: 425px) {
  .approach__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .approach__heading {
    font-size: 22px;
    text-align: center;
    width: 234px; }
  .approach__step {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 30px; }
  .approach__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 0 10px; }
  .approach__text {
    font-size: 14px;
    text-align: center; }
  .approach__picture {
    display: none; } }

/*# sourceMappingURL=approach.css.map */
