.process {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 148px 0 44px;
  width: 72%; }
  .process__intro {
    width: 362px; }
  .process__preview {
    display: inline-block;
    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #c0cdd7;
    margin-bottom: 16px; }
  .process__heading {
    font-size: 32px;
    line-height: 130%;
    margin-bottom: 24px; }
  .process__text {
    font-size: 14px; }
  .process__text:not(:last-child) {
    margin-bottom: 24px; }
  .process__steps {
    display: grid;
    grid-template-columns: 264px 264px;
    grid-template-rows: 264px 264px;
    grid-gap: 30px; }
  .process__step {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
            box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
    border-radius: 24px;
    padding: 0 32px; }
  .process__step-down {
    -webkit-transform: translateY(50%);
            transform: translateY(50%); }
  .process__number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 46px;
    height: 24px;
    border-radius: 23px;
    font-family: Poppins, sans-serif;
    font-size: 13px; }
  .process__number1 {
    background: rgba(86, 204, 242, 0.1);
    color: #56ccf2; }
  .process__number2 {
    background: rgba(252, 201, 29, 0.1);
    color: #fcc91d; }
  .process__number3 {
    background: rgba(21, 216, 80, 0.1);
    color: #15d850; }
  .process__number4 {
    background: rgba(243, 99, 99, 0.1);
    color: #f36363; }
  .process__info {
    font-size: 13px;
    width: 200px; }
  .process__link-description {
    font-family: Poppins, sans-serif;
    font-size: 15px;
    color: #334563; }
  .process__link {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 16px;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .process__link:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  .process__link1 {
    background-color: #56ccf2; }
  .process__link2 {
    background-color: #fcc91d; }
  .process__link3 {
    background-color: #15d850; }
  .process__link4 {
    background-color: #f36363; }

@media (min-width: 1901px) and (max-width: 2560px) {
  .process {
    max-width: 1440px; }
    .process__preview {
      font-size: 19px; }
    .process__heading {
      font-size: 40px; }
    .process__text {
      font-size: 20px; }
    .process__number {
      width: 56px;
      height: 34px;
      font-size: 18px;
      border-radius: 33px; }
    .process__info {
      font-size: 17px; }
    .process__link-description {
      font-size: 19px; } }

@media screen and (max-width: 1400px) {
  .process {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 70px 0 44px; }
    .process__intro {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .process__steps {
      margin-top: 70px; }
    .process__step-down {
      -webkit-transform: translateY(0);
              transform: translateY(0); } }

@media screen and (max-width: 760px) {
  .process__intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: auto; }
  .process__heading {
    font-size: 22px;
    text-align: center; }
  .process__text {
    text-align: center; }
  .process__steps {
    grid-template-columns: unset;
    grid-template-rows: repeat(4, 264px); } }

/*# sourceMappingURL=process.css.map */
